@import '../../../style/colors.scss';
@import '../../../style/animation.scss';

$primary: #fd6059;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 10;
    // background: $dark;

    .container {
        height: 100%;
        width: 84%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoSection {
            display: flex;
            flex-direction: row;
            align-items: center;

            a img {
                margin-right: 15px;
                width: 250px;
            }

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;

                li {
                    margin-right: 10px;
                }
            }

            .musicButton {
                cursor: pointer;
                width: 30px;
                animation: spin 6s linear infinite, broken 5s infinite;

                @keyframes spin {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .headerMenu {
            .link {
                background: transparent;
                border: 0;
                cursor: pointer;

                margin-right: 2vw;
                font-size: 22px;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0 0 5px #f85ab679, 0 0 5px #f85ab679;
                color: $pink;

                &:hover {
                    animation: broken 3s infinite;
                }
            }

            .active {
                text-shadow: 0 0 5px $blue, 0 0 5px $blue;
                color: $blue;
                animation: broken 6s infinite;
            }
        }
    }
}