@import '../../../style/colors.scss';

footer {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: $dark;

    p {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
}